.container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    width:350px;
    padding:20px;
    border:1px solid #ddd;
    border-radius:8px;

    display:flex;
    flex-direction:column;
    gap:15px;
}

input{
    padding:10px;
}

button{
    padding:10px;
    cursor:pointer;
}